<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/4BSuFpQ2gd2WtO5ZK1fMjaMPMRc.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Um Sonho de Liberdade (1994)</h1>
        <p>17/03/1995 (BR) - 2h 22m </p>
        <p>Drama, Crime</p>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
      <ion-label>76%</ion-label>
    </ion-chip>
  </ion-item>

</ion-content>
